{{# each products }}
  
      <div class = "row top-buffer">
        {{# each this}}
          <div class = "col-sm-6 col-md-3 col-md-offset-1">
            <div class="card" style="width: 18rem;">
              <img src="{{ this.imagePath }}" alt="...">
              <div class="img-responsive">
                <h4 class="card-title">{{ this.title }} </h4>
                <p class="card-text">{{ this.description }}.</p>
                <div class="clearfix"> 
                  <div class="price pull-left">${{ this.price }}</div>
                  <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right">Buy</a>
                </div>
              </div>
            </div>
          </div >
        {{/each}}
       
  </div>
{{/each}}